<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="preferences" type="System.Configuration.IgnoreSectionHandler" />
		<section name="network" type="System.Configuration.IgnoreSectionHandler" />
		<section name="nodes" type="System.Configuration.IgnoreSectionHandler" />
		<section name="templates" type="System.Configuration.IgnoreSectionHandler" />
		<section name="versionSupport" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<preferences>
		<registry>
			<enabled>true</enabled>
			<usersFolder>Data/Registry/Users</usersFolder>
			<defaultProfile>Buzm-Master</defaultProfile>
		</registry>
		<users><folder>Data/Users</folder></users>
		<skins><folder>Data/Skins</folder></skins>
		<feeds>
			<maxItems>5</maxItems>
			<defaultTTL>60</defaultTTL>
		</feeds>
		<defaultView>Data\Defaults\buzbox.htm</defaultView>
		<schemas>
			<folder>Data\Schemas</folder>
			<nugget>NuggetTemplate.xml</nugget>
			<user>User.xml</user>
		</schemas>
		<invite>
			<attachment>Buzm_Invite.buz</attachment>
			<subject>Join my "[HIVE_NAME]" Hive</subject>
			<message><![CDATA[
Hey there,
	
Check out the cool Hive I’ve created.  It’s free to access, so follow the simple instructions below so we can share this information with each other.  Later! ]]>
			</message>
			<footer><![CDATA[

If you have Buzm installed on this computer, simply open the attachment to join my "[HIVE_NAME]" Hive.

If you don’t have Buzm on this computer, click on the following link to proceed: http://www.buzm.com/download ]]>
			</footer>
		</invite>
	</preferences>
	<network>
		<smtpServer>localhost</smtpServer>
		<packetCache>1000</packetCache>
		<defaultPort>3333</defaultPort>
		<checkNetwork>true</checkNetwork>		
	</network>
	<nodes>
		<node>
<!--			<host>localhost</host>
			<port>3336</port>-->
		</node>
	</nodes>
	<templates>
		<config>
			<user>
				<guid></guid>	
				<login></login>
				<email></email>				
				<password></password>
				<firstName></firstName>
				<lastName></lastName>
				<friends></friends>
				<hives></hives>
				<memberState></memberState>	
				<registerDate></registerDate>
				<loginDate></loginDate>
			</user>
			<hive>
				<guid></guid>
				<name></name>				
				<host></host>
				<owner></owner>
				<feeds></feeds>
				<members></members>				
				<memberDate></memberDate>
				<createDate></createDate>
				<inviteText></inviteText>
				<skin><guid></guid></skin>				
			</hive>
			<feed>
				<url></url>
				<guid></guid>
				<name></name>
				<placement></placement>
			</feed>
			<invite>
				<guid></guid>
				<hive>
					<guid></guid>
					<name></name>
					<host></host>
				</hive>
			</invite>
		</config>
	</templates>
	<versionSupport>
		<supported>
			<version>0.3</version>
		</supported>
		<deprecated>
			<link>http://www.buzm.com/download</link>
			<message>There is a new version of Buzm available. Please upgrade at your earliest convenience.</message>
			<version>0.2.2000</version>
		</deprecated>
		<unsupported>
			<link>http://www.buzm.com/download</link>
			<message>The version of Buzm you have is no longer supported. Please upgrade to the latest version.</message>
			<version>0.0</version>
		</unsupported>
	</versionSupport>
	<system.diagnostics>
		<switches>
			<!-- The default log switch setting. 
           Off = 0, Error = 1, Warning = 2 
           Info = 3, Verbose = 4 -->
			<add name="default" value="4" />
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="listener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>