<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<switches>
			<!-- The default log switch setting. 
				Off = 0, Error = 1, Warning = 2 
				Info = 3, Verbose = 4 -->
			<add name="default" value="4" />
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add	name="listener" 
						type="System.Diagnostics.TextWriterTraceListener" 
						initializeData="trace.log" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
